<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :status %><br />
    <%= f.select :status, [['Opened',Order::OPENED],
                           ['Closed', Order::CLOSED],
                           ['Paid', Order::PAID]] %>
  </div>

  <h2>Movements</h2>

  <div>
    <%= f.fields_for :movements do |m| %>
      <%= render 'movement_fields', :f => m %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
